.footer {
    position: relative;
    bottom: 90px;
    &__box {
        text-align: center;
        background-image: url('../Polind-assets/POLIND.png');
        background-position: center;
        background-size: cover;
        padding: 20px;
    }
    &__h5 {
        color: #606f81;
        font-family: 'montserratbold';
        font-size: 24px;
    }
}
@media screen and (max-width:600px) {
    .footer {
        background-image: url('../Polind-assets/POLIND.png');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        &__box {
            background: none;
        }
        &__h5 {
            color: #606f81;
            font-family: 'montserratbold';
            font-size: 24px;
        }
    }
}
@media screen and (max-width:500px) {
    .footer {
        &__h5 {
            color: #606f81;
            font-family: 'montserratbold';
            font-size: 14px;
        }
    }
}